{% extends 'navbar.html' %}

<container class = "list-animalbox">
    <div class = "grid-animal">
        <div class="card-animal-left-image">
            <div class="grid-card-right">

            </div>
            <div class="grid-card-right">
                
            </div>
        </div>
        <div class="card-animal-right-image">

        </div>
        <div class="card-animal-left-image">

        </div>
        <div class="card-animal-right-image">

        </div>
        <div class="card-animal-left-image">

        </div>
        <div class="card-animal-right-image">

        </div>
    </div>
</container>