{% load static %}
<header>
  <nav class="nav-bar">
      <div class="nav-left-side">
          <img src="resources/images/petlet-logo.png" alt="Logo">
      </div>
      <div class="nav-right-side">
          <ul class="nav-link-list">
              <li class="nav-link">
                  <a class="is-active" href="#">home</a>
              </li>
              <li class="nav-link">
                  <a class="" href="#">animals</a>
              </li>
              <li class="nav-link">
                  <a class="" href="#">about</a>
              </li>
              <li class="nav-link">
                  <a class="" href="#">contacts</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
